@import '../../assets/styles/base';

.wrapper {
  width: 100vw;
  height: 162px;
  background-color: #ffffff;
  margin-top: auto;
}

.container {
  width: 1266px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 213px;
  margin: 5px 0 0 0;
}

.copyright {
  color: #798daa;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  .wrapper {
    height: 95px;
  }

  .container {
    width: calc(100vw - 40px);
    justify-content: center;
  }

  .copyright {
    width: 320px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .wrapper{
    max-width: 480px;
  }
}
