@import '../../assets/styles/base';

.wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  // border: 1px solid red;
}

.container {
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1225px;

  color: $primary-color;
  // border: 1px dotted red;
}

.titleWrapper {
  text-align: center;

  h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
  }

  h2 {
    margin-top: 16px;
    font-size: 18px;
    width: 500px;
    line-height: 30px;
  }
}

.authWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}

.img {
  width: 545px;
  height: 545px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.authForm {
  margin-left: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    height: 60px;

    &:not(:first-child) {
      margin: 20px 0 0 0;
    }

    &:first-of-type {
      margin-top: 5px;
    }
  }

  button {
    margin: 26px 0 0 0;
    width: 420px;
    height: 55px;
    border-radius: 20px;
  }
}

.authSubmit {
  margin-top: 51px;
  width: 596px;
  height: 87px;
  font-size: 18px;
  border-radius: 30px;
}

.authInput {
  font-size: 20px;
  width: 596px;
  height: 84px;
  border-radius: 30px;
  padding-left: 39px;

  &:not(:first-child) {
    margin-top: 25px;
  }
}

.link {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 18px;
  div {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: $primary-color;
  }
}
