.wrapper {
  width: 100vw;
  margin-top: 45px;
}

.container {
  width: 1265px;
  min-height: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  background: #ffffff;
}

.transparent {
  cursor: pointer;
  background: transparent;
  border: none;
}
