@import '../../assets/styles/base';

.btn {
    cursor: pointer;
    font-weight: bold;
    background: $primary-color;
    width: 138px;
    color: #fff;
    height: 54px;
    border: none;
    border-radius: 10px;
}