@font-face {
  font-family: "DMSans";
  src: local("DMSans"),
    url("../fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: bold;
  src: local("DMSans"),
    url("../fonts/DMSans/DMSans-Bold.ttf") format("truetype");
}
