* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
  text-decoration: none;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 480px;
  }
}
