@import '../../assets/styles/base';

.wrapper {
  width: 100vw;
}

.container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1265px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userContainer {
  margin-top: 30px;
  width: 350px;
  min-height: 300px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
}

.profileBackground {
  width: 350px;
  height: 180px;
  position: relative;
  top: -6px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;

  img {
    top: 0;
  }

  svg {
    position: relative;
    bottom: 45px;
    left: 88%;
  }
}

.profileImg {
  position: relative;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: 5px #ffffff solid;
  opacity: 0.7;
  background: #000;
  cursor: pointer;

  img {
    bottom: 0;
  }

  svg {
    position: absolute;
  }
}

.nameWrapper {
  position: relative;
  bottom: 20px;
  width: calc(100% - 50px);
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 16px;
  padding-left: 22px;
  margin: 0 auto;

  button {
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: none;
  }

  svg {
    cursor: pointer;
  }
}

.profileAbout {
  position: relative;
  bottom: 19px;
  color: #595959;
  text-align: center;
  font-size: 16px;
}

.editForm {
  width: calc(100vw - 40px);
  max-width: 1265px;
  margin: 0 auto;
  input {
    width: 100%;
    margin-top: 3px;
    padding: 5px 5px;
    padding-left: 0;
    border: none;
    height: 35px;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #999999;
    font-size: 16px;
    font-weight: 400;
    &:focus + label {
      color: $mobile-btn-color;
    }
    &:focus {
      border-bottom: 1px solid $mobile-btn-color;
      outline: none;
    }
  }
}

.cancel {
  width: 22px;
  height: 22px;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    display: block;
    width: 22px;
    height: 2px;
    position: relative;
    top: 11px;
    border-radius: 1px;
    background: $primary-color;
    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 9px;
      transform: rotate(-45deg);
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
}

p {
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: min(calc(100vw - 40px), 1265px);
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .userContainer {
    margin: 0;
  }
}
