@import '../../assets/styles/base';

.input {
  color: $input_text-color;
  background: #eff6fe;
  width: 420px;
  height: 84px;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  padding: 0 30px;
}
