@import '../../assets/styles/base';

.input {
  color: $primary-color;
  background: #eff6fe;
  width: 420px;
  height: 46px;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  padding: 0 25px;
}
